---
page_title: "epcc-terraform-provider Provider"
subcategory: ""
description: |-
  
---

# Elastic Path Commerce Cloud Provider

The Elastic Path Commerce Cloud (EPCC) provider is used to interact with resources defined in the [Elastic Path Commerce Cloud API](https://documentation.elasticpath.com/commerce-cloud/docs/api/).


## Example Usage

{{tffile "examples/provider/provider.tf"}}


## Authentication

### Static Credentials

!> **Warning:** Hard-coded credentials are not recommended in any Terraform
configuration and risks secret leakage should this file ever be committed to a
public version control system.

Static credentials can be provided by using the `client_id` and `client_secret` parameters directly.

### Environment Variables

You can provide your credentials via the `EPCC_CLIENT_ID` and `EPCC_CLIENT_SECRET`, environment variables corresponding to the
[`client_credentials` authentication mechanism](https://documentation.elasticpath.com/commerce-cloud/docs/api/basics/authentication/client-credential-token.html).


Usage:
```sh
$export EPCC_CLIENT_ID="XXXX"
$export EPCC_CLIENT_SECRET="YYYY"
$terraform plan
```

{{ .SchemaMarkdown | trimspace }}